Debug/*
build/*
artifacts/*
*.old
*.ipch
*.sdf
*.suo
*.opensdf
*.lib
*.user
/loom/common/Debug
/loom/script/Debug
/loom/tinylsc/Debug
/loom/tinyrun/Debug
/loom/vendor/jansson/win32/vs2011/Output
/loom/vendor/jansson/win32/vs2011/Debug
/loom/vendor/jansson/win32/vs2011/Build
/loom/vendor/seatest/src/Debug
/loom/vendor/zlib-1.2.8/contrib/vstudio/vc11/x86/ZlibStatDebug
/loom/vendor/zlib-1.2.8/contrib/vstudio/vc11/x86/ZlibStatRelease
/loom/vendor/zlib-1.2.8/contrib/vstudio/vc11/Debug
